In [1]:
import pandas as pd
df = pd.read_excel(r'../data/raw/data_glotip.xlsx')
print(df.head())

        UNODC   Unnamed: 1 Unnamed: 2                       Unnamed: 3  \
0  14/04/2025          NaN        NaN                              NaN
1   Iso3_code      Country     Region                        Subregion
2         ABW        Aruba   Americas  Latin America and the Caribbean
3         AFG  Afghanistan       Asia                    Southern Asia
4         AFG  Afghanistan       Asia                    Southern Asia

                     Unnamed: 4                  Unnamed: 5 Unnamed: 6  \
0                           NaN                         NaN        NaN
1                     Indicator                   Dimension   Category
2  Detected trafficking victims  by country of repatriation    Ukraine
3  Detected trafficking victims  by country of repatriation     Abroad
4  Detected trafficking victims  by country of repatriation     Abroad

  Unnamed: 7 Unnamed: 8 Unnamed: 9          Unnamed: 10 Unnamed: 11  \
0        NaN        NaN        NaN                  NaN         NaN
1        Sex        Age       Year  Unit of measurement    txtVALUE
2      Total      Total       2010               Counts          <5
3      Total      Total       2003               Counts          <5
4      Total      Total       2008               Counts          <5

  Unnamed: 12
0         NaN
1      Source
2      GLOTIP
3      GLOTIP
4      GLOTIP

In [2]:
new_columns = df.iloc[1].tolist()
df.columns = new_columns
df = df.drop(1).reset_index(drop=True)
df = df.drop(0).reset_index(drop=True)
display(df.head())

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,txtVALUE,Source
0,ABW,Aruba,Americas,Latin America and the Caribbean,Detected trafficking victims,by country of repatriation,Ukraine,Total,Total,2010,Counts,<5,GLOTIP
1,AFG,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Total,Total,2003,Counts,<5,GLOTIP
2,AFG,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Total,Total,2008,Counts,<5,GLOTIP
3,AFG,Afghanistan,Asia,Southern Asia,Offences of trafficking in persons,Total,Total,Total,Total,2013,Counts,103,GLOTIP
4,AFG,Afghanistan,Asia,Southern Asia,Persons brought into formal contact,Total,Total,Total,Total,2013,Counts,167,GLOTIP

In [3]:
df.drop(columns='Iso3_code',  inplace=True)
df.drop(columns='Unit of measurement',  inplace=True)
df.drop(columns='Source',  inplace=True)
display(df.head())

,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,txtVALUE
0,Aruba,Americas,Latin America and the Caribbean,Detected trafficking victims,by country of repatriation,Ukraine,Total,Total,2010,<5
1,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Total,Total,2003,<5
2,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Total,Total,2008,<5
3,Afghanistan,Asia,Southern Asia,Offences of trafficking in persons,Total,Total,Total,Total,2013,103
4,Afghanistan,Asia,Southern Asia,Persons brought into formal contact,Total,Total,Total,Total,2013,167

In [4]:
import numpy as np
df['Sex'] = df['Sex'].replace('Total', 'Unknown')
df['Sex'] = df['Sex'].str.capitalize()

In [5]:
print(df['Sex'].unique())

['Unknown' 'Female' 'Male' 'Other']

In [6]:
df['Sex'].value_counts()

Sex
Unknown    33456
Female     11846
Male       11677
Other       1790
Name: count, dtype: int64

In [7]:
print(df['Age'].unique())

['Total' '0 to 17 years' '18 years or over' 'Unknown']

In [8]:
import numpy as np

df['Age'] = df['Age'].replace({
    '0 to 17 years': 'Minor',
    '18 years or over': 'Adult',
    'Total': 'Unknown',
    'Unknown': 'Unknown',
})

In [9]:
print(df['Age'].unique())

['Unknown' 'Minor' 'Adult']

In [10]:
df['Age'].value_counts()

Age
Unknown    32579
Adult      13571
Minor      12619
Name: count, dtype: int64

In [11]:
df.shape[0]

58769

In [12]:
df = df.rename(columns={'txtVALUE': 'Nr_of_victims'})
df['Nr_of_victims'].nunique()

1490

In [13]:
display(df.head())

,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Nr_of_victims
0,Aruba,Americas,Latin America and the Caribbean,Detected trafficking victims,by country of repatriation,Ukraine,Unknown,Unknown,2010,<5
1,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Unknown,Unknown,2003,<5
2,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Unknown,Unknown,2008,<5
3,Afghanistan,Asia,Southern Asia,Offences of trafficking in persons,Total,Total,Unknown,Unknown,2013,103
4,Afghanistan,Asia,Southern Asia,Persons brought into formal contact,Total,Total,Unknown,Unknown,2013,167

In [14]:
df1 = df[df['Indicator'] == 'Detected trafficking victims'].copy()

In [15]:
df1.head()

,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Nr_of_victims
0,Aruba,Americas,Latin America and the Caribbean,Detected trafficking victims,by country of repatriation,Ukraine,Unknown,Unknown,2010,<5
1,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Unknown,Unknown,2003,<5
2,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Unknown,Unknown,2008,<5
5,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by form of exploitation,Sexual exploitation,Unknown,Unknown,2017,<5
6,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by form of exploitation,Forced labour,Unknown,Unknown,2018,<5

In [16]:
df1.shape

(39485, 10)

In [17]:
df1['Nr_of_victims']= df1['Nr_of_victims'].replace('<5',2.5)

In [18]:
df1.head()

,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Nr_of_victims
0,Aruba,Americas,Latin America and the Caribbean,Detected trafficking victims,by country of repatriation,Ukraine,Unknown,Unknown,2010,2.5
1,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Unknown,Unknown,2003,2.5
2,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Unknown,Unknown,2008,2.5
5,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by form of exploitation,Sexual exploitation,Unknown,Unknown,2017,2.5
6,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by form of exploitation,Forced labour,Unknown,Unknown,2018,2.5

In [19]:
df1.shape

(39485, 10)

In [20]:
df1['Nr_of_victims'].unique()

array([2.5, '15', '7', ..., '957', '1,497', '1,698'], dtype=object)

In [21]:
df1['Nr_of_victims']= df1['Nr_of_victims'].astype(str).str.replace(',', '')

In [22]:
df1['Nr_of_victims'].unique()

array(['2.5', '15', '7', ..., '957', '1497', '1698'], dtype=object)

In [23]:
df1.dtypes

Country          object
Region           object
Subregion        object
Indicator        object
Dimension        object
Category         object
Sex              object
Age              object
Year             object
Nr_of_victims    object
dtype: object

In [24]:
df1['Nr_of_victims'] = df1['Nr_of_victims'].astype(float)
print(f"The new data type of the 'Nr_of_victims' column is: {df1['Nr_of_victims'].dtype}")

The new data type of the 'Nr_of_victims' column is: float64

In [25]:
df1['Year'] = pd.to_datetime(df1['Year'], format='%Y').dt.year
df1.dtypes

Country           object
Region            object
Subregion         object
Indicator         object
Dimension         object
Category          object
Sex               object
Age               object
Year               int32
Nr_of_victims    float64
dtype: object

In [26]:
df1.shape

(39485, 10)

In [27]:
df1['Dimension'] = df['Dimension'].replace('Total', 'Unknown')

In [28]:
df1['Category'] = df['Category'].replace('Total', 'Unknown')

In [29]:
df1['Category'].unique()

array(['Ukraine', 'Abroad', 'Sexual exploitation', 'Forced labour',
       'Unknown', 'Congo', 'Nationals', 'RDC', 'Angolan',
       'Congolese (DRC)', 'Nigerians', 'Chinese', 'Albania', 'Croatia',
       nan, 'Netherlands', 'Norway', 'Portugal', 'Denmark', 'Serbia',
       'Switzerland', 'Germany', '(specify the country)', 'Azerbaijan',
       'Bangladesh', 'China', 'India', 'Indonesia', 'Iraq', 'Kazakhstan',
       'Morocco', 'Nigeria', 'Pakistan', 'Philippines',
       'Republic of Moldova', 'Russian Federation',
       'Syrian Arab Republic', 'Uzbekistan', 'Kyrgyzstan', 'Algeria',
       'Armenia', 'Ethiopia', 'Lebanon', 'Sri Lanka', 'Thailand',
       'United Arab Emirates', 'Nepal', 'Tajikistan',
       'United Republic of Tanzania', 'Turkmenistan', 'Colombia',
       'Dominican Republic', 'Tunisia', 'Belarus', 'Uganda', 'Rwanda',
       'Argentina', 'Bolivia (Plurinational State of)', 'Paraguay',
       'Peru', 'Brazil', 'Chile', 'Ecuador', 'Uruguay',
       'Venezuela (Bolivarian Republic of)', 'Honduras', 'ARGENTINA',
       'BOLIVIA', 'BRASIL', 'OTROS', 'PARAGUAY', 'PERU', 'R.DOMINICANA',
       'ITALIA', 'MEXICO', 'Bolivia', 'Brasil', 'Gana', 'Haiti',
       'R.Dominicana', 'Senegal', 'Venezuela', '0',
       'Ciudadanos de su pa�s', 'Corea del Sur', 'Sudafrica', 'Panama',
       'Desconocido', 'Estados Unidos', 'Mexico', 'Rusia', 'Costa Rica',
       'Cuba', 'Jamaica', 'Marruecos', 'R.dominicana', 'Siria',
       'Guatemala', 'Marroquie', 'Alemania', 'Espa�a',
       'Republic of Korea', 'Malaysia', 'Australia', 'Afghanistan',
       'Afghani', 'Australians', 'Burundean', 'Cambodian', 'Ethiopian',
       'Fijian', 'Filippino', 'Germans', 'Guinean', 'Indian',
       'Indonesian', 'Iranian', 'Lebanese', 'Malaysian', 'Nepalese',
       'Pakistani', 'Saudi', 'South African', 'South Sudan', 'Sri Lankan',
       'Sudanese', 'Taiwan', 'Thai', 'Turkish', 'Vietnamese', 'Colombian',
       'Ghanean', 'Jordanian', 'Kuwait', 'MyanMar', 'Singaporean', 'USA',
       'United Kingdom', 'Yemeni', 'Austria', 'Bulgaria', 'Hungary',
       'Lithuania', 'Romania', 'Slovakia', 'Czechia',
       'The former Yugoslav Republic of Macedonia', 'Poland', 'Viet Nam',
       'Turkey', "Democratic People's Republic of Korea", 'Nicaragua',
       'Bosnia and Herzegovina', 'Italy', 'Kenya', 'Georgia', 'Benin',
       "Cote d'Ivoire", 'Malta', 'Rumania', 'Somalia', 'Austrians',
       'Bosnian', 'Bulgarian', 'Hungarians', 'Italian', 'Maltese',
       'Moroccan', 'Poles', 'Romanian', 'Serbians', 'Slovaks', 'Ugandean',
       'Ukraineans', 'Albanians', 'Algerians', 'Beninoise', 'Bolivians',
       'Brazilian', 'Cameroonian', 'Cuban', 'Czech Rep', 'Ivory Coast',
       'Kenyan', 'Kosovar', 'Kyrgysi', 'Macedonian', 'Moldavian',
       'Mongolian', 'Peruvian', 'Russian', 'Somali', 'Syria', 'Tanzanian',
       'Venezuelan', 'Croatian', 'Dominican rep', 'Egyptian', 'Japanese',
       'Madagascar', 'Mexican', 'Namibia', 'Nicaraguarean', 'Palestine',
       'Portuguese', 'Senegalese', 'Slovenian', 'Azerbaijani', 'Burundi',
       'Belgium', 'Burkina Faso', 'Cameroon', 'Chad', 'Eritrea', 'France',
       'Ghana', 'Jordan', 'Egypt', 'State of Palestine',
       'Iran (Islamic Republic of)', 'Mauritius', 'Sierra Leone',
       'Latvia', 'Bhutan', 'Guinea', 'Kosovo under UNSCR 1244', 'Spain',
       'Equatorial Guinea', 'Armenians', 'Burkinabe', 'Kazaki', 'Lybians',
       'Malian', 'Spanish', 'Ecuadorean', 'Guinea-Bissau', 'Liberian',
       'Suriname', 'Guatemalean', 'Rwandean', 'Swedesh', 'Nigerin',
       'Togolese', 'Niger', 'Mali', 'Guayanean', 'Jamaican',
       'United States of America', 'Gambia', 'Libya', 'Nederland',
       'Slovenia', 'croatia', 'El Salvador', 'Belizean', 'Honduranian',
       'Hodruanian', 'Argentino', 'Belga', 'Brasilero', 'Chino',
       'Colombiano', 'Cubano', 'Haitiano', 'Keniano', 'Paraguayo',
       'Peruano', 'Sin determinar', 'TOTAL', 'Venezolano',
       '(especifique otras nacionalidades)', 'Guyana', 'Bhutanese',
       'Kurdistan, Iraq', 'Bhuatnese', 'Mumbai, India', 'Botswana',
       'Ethopia', 'Zambia', 'South Africa', 'Zimbabwean', 'Canada',
       'China, Taiwan Province of China', 'China, Hong Kong SAR',
       'Saudi Arabia', 'Israel', 'Togo', 'Montenegro', 'Mongolia',
       'Mozambique', 'Greece', 'Personnes de nationalit� �trang�re',
       'Ecuatoriana', 'Peruana', 'Boliviana', 'Cubana', 'Colombiana',
       'Paraguaya', 'Haitiana', 'Tailandesa', 'Vietnamita', 'Venezolana',
       'Chadian', 'Myanmar', 'Cambodia', 'Timor-Leste', 'BENIN',
       'BURKINA FASO', 'GUINEE', 'NIGER', 'NIGERIA', 'TOGO', 'MALI',
       'GHANA', "C�TE D'IVOIRE", 'GUINEE CONAKRY', 'LIBERIA',
       'SIERRA LEONE', 'THAILANDE', 'VIETNAM', 'OMAN', 'CHILE',
       'COLOMBIA', 'NICARAGUA', 'REPUBLICA DOMINICANA', 'VENEZUELA',
       'CHINA', 'ECUADOR', 'ESPA�A', 'FILIPINAS', 'FRANCIA', 'HOLANDA',
       'INDIA', 'M�XICO', 'NORUEGA', 'PANAM�', 'PER�', 'QATAR',
       'SINGAPUR', 'SUIZA', 'TAILANDIA', 'HONDURAS', 'ALEMANIA',
       'BAHAMAS', 'COREA DEL SUR', 'GUATEMALA', 'ISRAEL', 'URUGUAY',
       'BARSIL', 'REP�BLICA DOMINICANA', 'Panamá', 'Panam�',
       'Rep�blica Dominicana', 'Rep. Dominicana', '(especifique el pa�s)',
       'Estonia', 'Cyprus', 'Moldova', 'Russia', 'Vietnam', 'Greek',
       'Sudan', 'Cabo Verde', 'Ireland', 'Singapore', 'Albanian', 'Czech',
       'Gambian', 'Georgian', 'German', 'Ghanaian', 'Hungarian',
       'Latvian', 'Nigerian', 'Polish', 'Serbian', 'Slovak', 'Ukrainian',
       'without', 'Byelorussian', 'Lithuanian', 'Moldovan',
       'Sierra Leonean', 'vietnamese', 'Chilean', 'Eritrean', 'French',
       'Argentinian', 'Botzwana', 'Tajiki', 'Uzbecki', 'Liberia',
       'Zimbabwe', 'Finland', 'Abania', 'Cameroun', 'Tanzania', 'Bosnia',
       'Columbia', 'Dominican Rep', 'Libanon', 'Danish', 'Zambian',
       'Paraguayian', 'Hait�', 'Per�', 'Turqu�a', 'NO DETERMINADA',
       'PERO', 'No Determinado', 'COLOMBIANA', 'PERUANA', 'VENEZOLANA',
       'Yemen', 'UAE', 'Malawi', 'BIELORRUSIA', 'BULGARIA', 'HUNGRÍA',
       'MARRUECOS', 'POLONIA', 'PORTUGAL', 'REP. DOMINICANA',
       'REPÚBLICA CHECA', 'RUMANÍA', 'RUSIA', 'UCRANIA', 'ALBANIA',
       'MOLDAVIA', 'PAKISTÁN', 'Hondureans', 'New Zealander', 'Uruguayan',
       'Salvadorean', 'Estonians', 'Angola', 'Iran', 'Finns', 'Canadians',
       'Fiji', 'Japan', 'Gabon', "Lao People's Democratic Republic",
       'Comorian islands', 'Haitian', 'Israelian', 'Swaziland',
       'Mauritania', 'Western Sahara',
       'United Kingdom of Great Britain and Northern Ireland', 'Barbados',
       'C�te d�Ivoire', 'Democratic Republic of the Congo', 'Lybia',
       'Oman', 'Belizeean', 'Dutch', 'Emirati (UAE)', 'Laotian',
       'Mauritanian', 'North Korean', 'Norvegian',
       'Other Central America and Caribbean', 'Qatari', 'St Vincent',
       'Trinidad and Tobago', 'Africa and Middle East', 'Other Asia',
       'Other Central America and Car', 'CAR', 'Cape Ver', 'South Korean',
       'Swasiland', 'Timor Este', 'Turkmeni', 'Djiboutean', 'BELICEÑA',
       'GUATEMALTECA', 'GUINEANA', 'HONDUREÑA', 'MEXICANA',
       'NICARAGUENSE', 'NIGERIANA', 'SALVADOREÑA', 'España', 'México',
       'TOTAL POR AÑO', 'BELICE�A', 'HONDURE�A', 'SALVADORE�A', 'Belice',
       'Caribbean (Trinidad and Tobago, Barbados, etc)', 'Cubans',
       'Haitians', 'Jamaicans',
       'Other Countries (Dominica, Panama, French Guiana, Brazil, etc.)',
       'Venezuelans', 'Africa', 'Americas', 'Asia',
       'European Economic Area', 'Amercias', 'Disputed', 'The Ukraine',
       'Etiopia', 'Palestinian Authority', 'Centrel African Republic',
       'Former Yugoslavia', 'Bosnia Erzegovina', 'Cina Popolare',
       "Costa d'Avorio", 'Croazia', 'Egitto', 'Marocco', 'Moldavia',
       'Tunisa', 'Afganistan', 'Filippine', 'Sri lanka', 'ghana',
       'Kazalhstan', 'BANGLADESH', 'EGYBT', 'ETHIOPIA', 'IRAQ', 'KUWAIT',
       'PHILIPPINES', 'SRI LANKA', 'SYRIA', 'THAILAND', 'UGANDA',
       'Filipino', 'Taiwanese', 'Czeck Republic', 'Albanie', 'Chine',
       'Colombie', 'Luxembourg', 'Brésil', 'Hongrie', 'Inde', 'Roumanie',
       'République de Moldavie', 'République tchèque', 'Tunisie',
       'Great Britain', 'the Netherlands', 'RMI', 'Chines', 'albanian',
       'B & H', 'Philippine', 'Ukranian', 'Domestic (Myanmar)', 'Dubai',
       'Laos', 'CAMBODIA', 'INDONESIA', 'LAOS', 'MALAYSIA', 'MONGOLIA',
       'MYANMAR', 'NEPAL', 'TAIWAN', 'UZBEKISTAN', 'Angolans',
       'Benin Rep', "Cote d'ivoire", 'Guinea Conakry', 'Niger Rep',
       'Sierra leone', 'Iceland', 'Saint Vincent and the Grenadines',
       'Seychelles', 'Sweden', 'Netherlands (own country)',
       'Dominican Rebublic', 'Erithera', 'Samoa', 'Omani', 'CAMBOYA',
       'COSTA RICA', 'CUBA', 'DESCONOCIDA', 'DOMINICANA', 'EL SALVADOR',
       'República Dominicana', 'The Netherlands', 'UK', 'Sao Tome',
       'BRASILERA', 'NO REGISTRA', 'Qatar', 'Spania', 'Sweeden',
       'Moldovian', 'Solomon Islands', 'solomon islands',
       'Solomon islanders', 'Solomon Isands', '(Oman)', '(Lebanon)',
       '(Nationality not stated)', '(Senegal)', 'BELICE',
       'NO DETERMINADAS', 'North Macedonia', 'Eritreja',
       'Bosnia i Herzegovinia', 'Dr Kongo',
       'Ukrainian national repatriated from Slovakia to Ukraine',
       'Kazahstan', 'Kosovo', 'Bangladeshi', 'Burmese', 'Rohingya',
       'Syrian', 'Ugandan', 'chiness', 'Kazakhistan', 'T�rkiye', 'Bresil',
       'Democratic Kongo', 'TANZANIANS', 'TAZANIANS', 'BURUNDIANS',
       'Belize', 'Lesotho', 'Maldives',
       'China, Hong Kong Special Administrative Region', 'Nationality',
       '145', 'Other forms of exploitation'], dtype=object)

In [30]:
# Diccionario de correcciones para estandarizar nombres de países y nacionalidades
corrections = {
    # Variaciones de países en español/inglés
    'ARGENTINA': 'Argentina',
    'BOLIVIA': 'Bolivia',
    'BRASIL': 'Brazil',
    'BARSIL': 'Brazil',
    'Bresil': 'Brazil',
    'Brasil': 'Brazil',
    'Brasilero': 'Brazil',
    'BRASILERA': 'Brazil',
    'Brazilian': 'Brazil',
    'CHILE': 'Chile',
    'COLOMBIA': 'Colombia',
    'Columbia': 'Colombia',
    'Colombie': 'Colombia',
    'COLOMBIANA': 'Colombia',
    'Colombiano': 'Colombia',
    'Colombian': 'Colombia',
    'ECUADOR': 'Ecuador',
    'Ecuatoriana': 'Ecuador',
    'Ecuadorean': 'Ecuador',
    'PERU': 'Peru',
    'PERO': 'Peru',
    'PER�': 'Peru',
    'Per�': 'Peru',
    'Peruana': 'Peru',
    'Peruano': 'Peru',
    'Peruvian': 'Peru',
    'PARAGUAY': 'Paraguay',
    'Paraguayo': 'Paraguay',
    'Paraguayian': 'Paraguay',
    'VENEZUELA': 'Venezuela',
    'VENEZOLANA': 'Venezuela',
    'Venezolano': 'Venezuela',
    'Venezuelan': 'Venezuela',
    'Venezuelans': 'Venezuela',
    'URUGUAY': 'Uruguay',
    'Uruguayan': 'Uruguay',
    
    # República Dominicana
    'R.DOMINICANA': 'Dominican Republic',
    'R.Dominicana': 'Dominican Republic',
    'R.dominicana': 'Dominican Republic',
    'Rep�blica Dominicana': 'Dominican Republic',
    'Rep. Dominicana': 'Dominican Republic',
    'REP. DOMINICANA': 'Dominican Republic',
    'REP�BLICA DOMINICANA': 'Dominican Republic',
    'REPUBLICA DOMINICANA': 'Dominican Republic',
    'República Dominicana': 'Dominican Republic',
    'DOMINICANA': 'Dominican Republic',
    'Dominican rep': 'Dominican Republic',
    'Dominican Rep': 'Dominican Republic',
    'Dominican Rebublic': 'Dominican Republic',
    
    # México
    'MEXICO': 'Mexico',
    'M�XICO': 'Mexico',
    'México': 'Mexico',
    'MEXICANA': 'Mexico',
    'Mexican': 'Mexico',
    
    # Panamá
    'PANAM�': 'Panama',
    'Panamá': 'Panama',
    'Panam�': 'Panama',
    'PANAM�': 'Panama',
    
    # España
    'ESPA�A': 'Spain',
    'España': 'Spain',
    'Espa�a': 'Spain',
    'Spanish': 'Spain',
    'Spania': 'Spain',
    
    # Estados Unidos
    'Estados Unidos': 'United States',
    'USA': 'United States',
    'United States of America': 'United States',
    
    # Centroamérica
    'GUATEMALA': 'Guatemala',
    'GUATEMALTECA': 'Guatemala',
    'Guatemalean': 'Guatemala',
    'HONDURAS': 'Honduras',
    'HONDUREÑA': 'Honduras',
    'HONDURE�A': 'Honduras',
    'Hondureans': 'Honduras',
    'Honduranian': 'Honduras',
    'Hodruanian': 'Honduras',
    'NICARAGUA': 'Nicaragua',
    'NICARAGUENSE': 'Nicaragua',
    'Nicaraguarean': 'Nicaragua',
    'COSTA RICA': 'Costa Rica',
    'EL SALVADOR': 'El Salvador',
    'SALVADOREÑA': 'El Salvador',
    'SALVADORE�A': 'El Salvador',
    'Salvadorean': 'El Salvador',
    'BELICE': 'Belize',
    'BELICEÑA': 'Belize',
    'BELICE�A': 'Belize',
    'Belizean': 'Belize',
    'Belizeean': 'Belize',
    
    # Caribe
    'CUBA': 'Cuba',
    'Cubano': 'Cuba',
    'Cubana': 'Cuba',
    'Cuban': 'Cuba',
    'Cubans': 'Cuba',
    'HAITI': 'Haiti',
    'Hait�': 'Haiti',
    'Haitiano': 'Haiti',
    'Haitiana': 'Haiti',
    'Haitian': 'Haiti',
    'Haitians': 'Haiti',
    'JAMAICA': 'Jamaica',
    'Jamaican': 'Jamaica',
    'Jamaicans': 'Jamaica',
    
    # China
    'CHINA': 'China',
    'Chino': 'China',
    'Chines': 'China',
    'chiness': 'China',
    'Chinese': 'China',
    'Chine': 'China',
    'Cina Popolare': 'China',
    'China, Taiwan Province of China': 'Taiwan',
    'China, Hong Kong SAR': 'Hong Kong',
    'China, Hong Kong Special Administrative Region': 'Hong Kong',
    'TAIWAN': 'Taiwan',
    'Taiwan': 'Taiwan',
    'Taiwanese': 'Taiwan',
    
    # India
    'INDIA': 'India',
    'Inde': 'India',
    'Indian': 'India',
    'Mumbai, India': 'India',
    
    # Filipinas
    'FILIPINAS': 'Philippines',
    'PHILIPPINES': 'Philippines',
    'Filippino': 'Philippines',
    'Filipino': 'Philippines',
    'Philippine': 'Philippines',
    'Filippine': 'Philippines',
    
    # Tailandia
    'TAILANDIA': 'Thailand',
    'THAILAND': 'Thailand',
    'THAILANDE': 'Thailand',
    'Tailandesa': 'Thailand',
    'Thai': 'Thailand',
    
    # Vietnam
    'VIETNAM': 'Vietnam',
    'Viet Nam': 'Vietnam',
    'Vietnam': 'Vietnam',
    'Vietnamita': 'Vietnam',
    'Vietnamese': 'Vietnam',
    'vietnamese': 'Vietnam',
    
    # Otros países asiáticos
    'BANGLADESH': 'Bangladesh',
    'Bangladeshi': 'Bangladesh',
    'CAMBODIA': 'Cambodia',
    'CAMBOYA': 'Cambodia',
    'Cambodia': 'Cambodia',
    'Cambodian': 'Cambodia',
    'INDONESIA': 'Indonesia',
    'Indonesian': 'Indonesia',
    'LAOS': 'Laos',
    'Laos': 'Laos',
    'Laotian': 'Laos',
    "Lao People's Democratic Republic": 'Laos',
    'MALAYSIA': 'Malaysia',
    'Malaysian': 'Malaysia',
    'MONGOLIA': 'Mongolia',
    'Mongolia': 'Mongolia',
    'Mongolian': 'Mongolia',
    'MYANMAR': 'Myanmar',
    'Myanmar': 'Myanmar',
    'MyanMar': 'Myanmar',
    'Burmese': 'Myanmar',
    'Domestic (Myanmar)': 'Myanmar',
    'NEPAL': 'Nepal',
    'Nepalese': 'Nepal',
    'SINGAPORE': 'Singapore',
    'SINGAPUR': 'Singapore',
    'Singapore': 'Singapore',
    'Singaporean': 'Singapore',
    'UZBEKISTAN': 'Uzbekistan',
    'Uzbecki': 'Uzbekistan',
    'Republic of Korea': 'South Korea',
    'COREA DEL SUR': 'South Korea',
    'Corea del Sur': 'South Korea',
    'South Korean': 'South Korea',
    "Democratic People's Republic of Korea": 'North Korea',
    'North Korean': 'North Korea',
    'JAPAN': 'Japan',
    'Japan': 'Japan',
    'Japanese': 'Japan',
    
    # Países del Medio Oriente
    'SYRIA': 'Syria',
    'SIRIA': 'Syria',
    'Syria': 'Syria',
    'Siria': 'Syria',
    'Syrian Arab Republic': 'Syria',
    'Syrian': 'Syria',
    'IRAQ': 'Iraq',
    'Iranian': 'Iran',
    'Iran (Islamic Republic of)': 'Iran',
    'ISRAEL': 'Israel',
    'Israeli': 'Israel',
    'Israelian': 'Israel',
    'LEBANON': 'Lebanon',
    'Lebanon': 'Lebanon',
    'Libanon': 'Lebanon',
    'Lebanese': 'Lebanon',
    'KUWAIT': 'Kuwait',
    'Kuwait': 'Kuwait',
    'QATAR': 'Qatar',
    'Qatar': 'Qatar',
    'Qatari': 'Qatar',
    'OMAN': 'Oman',
    'Oman': 'Oman',
    'Omani': 'Oman',
    'United Arab Emirates': 'UAE',
    'UAE': 'UAE',
    'Emirati (UAE)': 'UAE',
    'Saudi Arabia': 'Saudi Arabia',
    'Saudi': 'Saudi Arabia',
    'Yemen': 'Yemen',
    'Yemeni': 'Yemen',
    'Jordan': 'Jordan',
    'Jordanian': 'Jordan',
    'State of Palestine': 'Palestine',
    'Palestine': 'Palestine',
    'Palestinian Authority': 'Palestine',
    'Turkey': 'Turkey',
    'T�rkiye': 'Turkey',
    'Turqu�a': 'Turkey',
    'Turkish': 'Turkey',
    
    # Países africanos
    'NIGERIA': 'Nigeria',
    'Nigerian': 'Nigeria',
    'Nigerians': 'Nigeria',
    'NIGERIANA': 'Nigeria',
    'Nigerin': 'Nigeria',
    'GHANA': 'Ghana',
    'Ghana': 'Ghana',
    'Gana': 'Ghana',
    'ghana': 'Ghana',
    'Ghanaian': 'Ghana',
    'Ghanean': 'Ghana',
    'SOUTH AFRICA': 'South Africa',
    'South Africa': 'South Africa',
    'Sudafrica': 'South Africa',
    'South African': 'South Africa',
    'EGYPT': 'Egypt',
    'EGYBT': 'Egypt',
    'Egypt': 'Egypt',
    'Egitto': 'Egypt',
    'Egyptian': 'Egypt',
    'ETHIOPIA': 'Ethiopia',
    'Ethiopia': 'Ethiopia',
    'Etiopia': 'Ethiopia',
    'Ethopia': 'Ethiopia',
    'Ethiopian': 'Ethiopia',
    'UGANDA': 'Uganda',
    'Uganda': 'Uganda',
    'Ugandan': 'Uganda',
    'Ugandean': 'Uganda',
    'KENYA': 'Kenya',
    'Kenya': 'Kenya',
    'Keniano': 'Kenya',
    'Kenyan': 'Kenya',
    'TANZANIA': 'Tanzania',
    'Tanzania': 'Tanzania',
    'United Republic of Tanzania': 'Tanzania',
    'Tanzanian': 'Tanzania',
    'TANZANIANS': 'Tanzania',
    'TAZANIANS': 'Tanzania',
    'RWANDA': 'Rwanda',
    'Rwanda': 'Rwanda',
    'Rwandean': 'Rwanda',
    'BURUNDI': 'Burundi',
    'Burundi': 'Burundi',
    'Burundean': 'Burundi',
    'BURUNDIANS': 'Burundi',
    'MOROCCO': 'Morocco',
    'Morocco': 'Morocco',
    'Marruecos': 'Morocco',
    'MARRUECOS': 'Morocco',
    'Marocco': 'Morocco',
    'Moroccan': 'Morocco',
    'Marroquie': 'Morocco',
    'TUNISIA': 'Tunisia',
    'Tunisia': 'Tunisia',
    'Tunisa': 'Tunisia',
    'Tunisie': 'Tunisia',
    'ALGERIA': 'Algeria',
    'Algerians': 'Algeria',
    'LIBYA': 'Libya',
    'Libya': 'Libya',
    'Lybia': 'Libya',
    'Lybians': 'Libya',
    'SUDAN': 'Sudan',
    'Sudan': 'Sudan',
    'Sudanese': 'Sudan',
    'South Sudan': 'South Sudan',
    'ERITREA': 'Eritrea',
    'Eritrea': 'Eritrea',
    'Eritrej': 'Eritrea',
    'Eritrean': 'Eritrea',
    'Erithera': 'Eritrea',
    'SOMALIA': 'Somalia',
    'Somalia': 'Somalia',
    'Somali': 'Somalia',
    'ZIMBABWE': 'Zimbabwe',
    'Zimbabwe': 'Zimbabwe',
    'Zimbabwean': 'Zimbabwe',
    'ZAMBIA': 'Zambia',
    'Zambia': 'Zambia',
    'Zambian': 'Zambia',
    'BOTSWANA': 'Botswana',
    'Botswana': 'Botswana',
    'Botzwana': 'Botswana',
    'MALI': 'Mali',
    'Mali': 'Mali',
    'Malian': 'Mali',
    'NIGER': 'Niger',
    'Niger': 'Niger',
    'Niger Rep': 'Niger',
    'BURKINA FASO': 'Burkina Faso',
    'Burkina Faso': 'Burkina Faso',
    'Burkinabe': 'Burkina Faso',
    'BENIN': 'Benin',
    'Benin': 'Benin',
    'Benin Rep': 'Benin',
    'Beninoise': 'Benin',
    'TOGO': 'Togo',
    'Togo': 'Togo',
    'Togolese': 'Togo',
    'GUINEA': 'Guinea',
    'GUINEE': 'Guinea',
    'Guinea': 'Guinea',
    'GUINEE CONAKRY': 'Guinea',
    'Guinea Conakry': 'Guinea',
    'GUINEANA': 'Guinea',
    'Guinean': 'Guinea',
    'SIERRA LEONE': 'Sierra Leone',
    'Sierra Leone': 'Sierra Leone',
    'Sierra leone': 'Sierra Leone',
    'Sierra Leonean': 'Sierra Leone',
    'LIBERIA': 'Liberia',
    'Liberia': 'Liberia',
    'Liberian': 'Liberia',
    "COTE D'IVOIRE": "Cote d'Ivoire",
    "Cote d'Ivoire": "Cote d'Ivoire",
    "Cote d'ivoire": "Cote d'Ivoire",
    "Costa d'Avorio": "Cote d'Ivoire",
    'C�te d�Ivoire': "Cote d'Ivoire",
    'Ivory Coast': "Cote d'Ivoire",
    'Czech Rep': "Cote d'Ivoire",
    'SENEGAL': 'Senegal',
    'Senegal': 'Senegal',
    'Senegalese': 'Senegal',
    'GAMBIA': 'Gambia',
    'Gambia': 'Gambia',
    'Gambian': 'Gambia',
    'MAURITANIA': 'Mauritania',
    'Mauritania': 'Mauritania',
    'Mauritanian': 'Mauritania',
    'MAURITIUS': 'Mauritius',
    'Mauritius': 'Mauritius',
    'MADAGASCAR': 'Madagascar',
    'Madagascar': 'Madagascar',
    'CAMEROON': 'Cameroon',
    'Cameroon': 'Cameroon',
    'Cameroun': 'Cameroon',
    'Cameroonian': 'Cameroon',
    'CHAD': 'Chad',
    'Chad': 'Chad',
    'Chadian': 'Chad',
    'GABON': 'Gabon',
    'Gabon': 'Gabon',
    'CAR': 'Central African Republic',
    'Centrel African Republic': 'Central African Republic',
    'Congo': 'Democratic Republic of the Congo',
    'Democratic Republic of the Congo': 'Democratic Republic of the Congo',
    'RDC': 'Democratic Republic of the Congo',
    'Congolese (DRC)': 'Democratic Republic of the Congo',
    'Dr Kongo': 'Democratic Republic of the Congo',
    'Democratic Kongo': 'Democratic Republic of the Congo',
    'Angola': 'Angola',
    'Angolan': 'Angola',
    'Angolans': 'Angola',
    'Cabo Verde': 'Cape Verde',
    'Cape Ver': 'Cape Verde',
    'Sao Tome': 'Sao Tome and Principe',
    'Equatorial Guinea': 'Equatorial Guinea',
    'Guinea-Bissau': 'Guinea-Bissau',
    'Comoros': 'Comoros',
    'Comorian islands': 'Comoros',
    'Seychelles': 'Seychelles',
    'Djibouti': 'Djibouti',
    'Djiboutean': 'Djibouti',
    'Swaziland': 'Eswatini',
    'Swasiland': 'Eswatini',
    'Lesotho': 'Lesotho',
    'Malawi': 'Malawi',
    'Mozambique': 'Mozambique',
    'Namibia': 'Namibia',
    'Western Sahara': 'Western Sahara',
    
    # Países europeos
    'ALEMANIA': 'Germany',
    'GERMANY': 'Germany',
    'Germany': 'Germany',
    'Germans': 'Germany',
    'German': 'Germany',
    'FRANCE': 'France',
    'FRANCIA': 'France',
    'France': 'France',
    'French': 'France',
    'ITALY': 'Italy',
    'ITALIA': 'Italy',
    'Italy': 'Italy',
    'Italian': 'Italy',
    'UK': 'United Kingdom',
    'United Kingdom': 'United Kingdom',
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
    'Great Britain': 'United Kingdom',
    'NETHERLANDS': 'Netherlands',
    'Netherlands': 'Netherlands',
    'HOLANDA': 'Netherlands',
    'Nederland': 'Netherlands',
    'the Netherlands': 'Netherlands',
    'The Netherlands': 'Netherlands',
    'Netherlands (own country)': 'Netherlands',
    'Dutch': 'Netherlands',
    'NORWAY': 'Norway',
    'NORUEGA': 'Norway',
    'Norway': 'Norway',
    'Norvegian': 'Norway',
    'SWEDEN': 'Sweden',
    'Sweden': 'Sweden',
    'Sweeden': 'Sweden',
    'Swedesh': 'Sweden',
    'DENMARK': 'Denmark',
    'Denmark': 'Denmark',
    'Danish': 'Denmark',
    'FINLAND': 'Finland',
    'Finland': 'Finland',
    'Finns': 'Finland',
    'ICELAND': 'Iceland',
    'Iceland': 'Iceland',
    'SWITZERLAND': 'Switzerland',
    'SUIZA': 'Switzerland',
    'Switzerland': 'Switzerland',
    'AUSTRIA': 'Austria',
    'Austria': 'Austria',
    'Austrians': 'Austria',
    'PORTUGAL': 'Portugal',
    'Portugal': 'Portugal',
    'Portuguese': 'Portugal',
    'POLAND': 'Poland',
    'POLONIA': 'Poland',
    'Poland': 'Poland',
    'Poles': 'Poland',
    'Polish': 'Poland',
    'CZECH REPUBLIC': 'Czech Republic',
    'REPÚBLICA CHECA': 'Czech Republic',
    'République tchèque': 'Czech Republic',
    'Czechia': 'Czech Republic',
    'Czech': 'Czech Republic',
    'Czeck Republic': 'Czech Republic',
    'SLOVAKIA': 'Slovakia',
    'Slovakia': 'Slovakia',
    'Slovaks': 'Slovakia',
    'Slovak': 'Slovakia',
    'SLOVENIA': 'Slovenia',
    'Slovenia': 'Slovenia',
    'Slovenian': 'Slovenia',
    'HUNGARY': 'Hungary',
    'HUNGRÍA': 'Hungary',
    'Hungary': 'Hungary',
    'Hongrie': 'Hungary',
    'Hungarians': 'Hungary',
    'Hungarian': 'Hungary',
    'ROMANIA': 'Romania',
    'RUMANÍA': 'Romania',
    'Romania': 'Romania',
    'Rumania': 'Romania',
    'Roumanie': 'Romania',
    'Romanian': 'Romania',
    'BULGARIA': 'Bulgaria',
    'Bulgaria': 'Bulgaria',
    'Bulgarian': 'Bulgaria',
    'CROATIA': 'Croatia',
    'Croatia': 'Croatia',
    'croatia': 'Croatia',
    'Croazia': 'Croatia',
    'Croatian': 'Croatia',
    'SERBIA': 'Serbia',
    'Serbia': 'Serbia',
    'Serbian': 'Serbia',
    'Serbians': 'Serbia',
    'Bosnia and Herzegovina': 'Bosnia and Herzegovina',
    'Bosnia i Herzegovinia': 'Bosnia and Herzegovina',
    'Bosnia Erzegovina': 'Bosnia and Herzegovina',
    'Bosnia': 'Bosnia and Herzegovina',
    'Bosnian': 'Bosnia and Herzegovina',
    'ALBANIA': 'Albania',
    'Albania': 'Albania',
    'Abania': 'Albania',
    'Albanie': 'Albania',
    'Albanian': 'Albania',
    'albanian': 'Albania',
    'Albanians': 'Albania',
    'MONTENEGRO': 'Montenegro',
    'Montenegro': 'Montenegro',
    'North Macedonia': 'North Macedonia',
    'The former Yugoslav Republic of Macedonia': 'North Macedonia',
    'Macedonian': 'North Macedonia',
    'Kosovo': 'Kosovo',
    'Kosovo under UNSCR 1244': 'Kosovo',
    'Kosovar': 'Kosovo',
    'MOLDOVA': 'Moldova',
    'MOLDAVIA': 'Moldova',
    'Moldova': 'Moldova',
    'Moldavia': 'Moldova',
    'Republic of Moldova': 'Moldova',
    'République de Moldavie': 'Moldova',
    'Moldovan': 'Moldova',
    'Moldavian': 'Moldova',
    'Moldovian': 'Moldova',
    'UKRAINE': 'Ukraine',
    'UCRANIA': 'Ukraine',
    'Ukraine': 'Ukraine',
    'The Ukraine': 'Ukraine',
    'Ukrainian': 'Ukraine',
    'Ukranian': 'Ukraine',
    'Ukraineans': 'Ukraine',
    'Ukrainian national repatriated from Slovakia to Ukraine': 'Ukraine',
    'RUSSIA': 'Russia',
    'RUSIA': 'Russia',
    'Russia': 'Russia',
    'Russian Federation': 'Russia',
    'Russian': 'Russia',
    'BELARUS': 'Belarus',
    'BIELORRUSIA': 'Belarus',
    'Belarus': 'Belarus',
    'Byelorussian': 'Belarus',
    'LITHUANIA': 'Lithuania',
    'Lithuania': 'Lithuania',
    'Lithuanian': 'Lithuania',
    'LATVIA': 'Latvia',
    'Latvia': 'Latvia',
    'Latvian': 'Latvia',
    'ESTONIA': 'Estonia',
    'Estonia': 'Estonia',
    'Estonians': 'Estonia',
    'GREECE': 'Greece',
    'Greece': 'Greece',
    'Greek': 'Greece',
    'CYPRUS': 'Cyprus',
    'Cyprus': 'Cyprus',
    'MALTA': 'Malta',
    'Malta': 'Malta',
    'Maltese': 'Malta',
    'LUXEMBOURG': 'Luxembourg',
    'Luxembourg': 'Luxembourg',
    'IRELAND': 'Ireland',
    'Ireland': 'Ireland',
    'BELGIUM': 'Belgium',
    'Belgium': 'Belgium',
    'Belga': 'Belgium',
    'Former Yugoslavia': 'Former Yugoslavia',
    'B & H': 'Bosnia and Herzegovina',
    
    # Países de Asia Central
    'KAZAKHSTAN': 'Kazakhstan',
    'Kazakhstan': 'Kazakhstan',
    'Kazalhstan': 'Kazakhstan',
    'Kazahstan': 'Kazakhstan',
    'Kazakhistan': 'Kazakhstan',
    'Kazaki': 'Kazakhstan',
    'KYRGYZSTAN': 'Kyrgyzstan',
    'Kyrgyzstan': 'Kyrgyzstan',
    'Kyrgysi': 'Kyrgyzstan',
    'TAJIKISTAN': 'Tajikistan',
    'Tajikistan': 'Tajikistan',
    'Tajiki': 'Tajikistan',
    'TURKMENISTAN': 'Turkmenistan',
    'Turkmenistan': 'Turkmenistan',
    'Turkmeni': 'Turkmenistan',
    'AZERBAIJAN': 'Azerbaijan',
    'Azerbaijan': 'Azerbaijan',
    'Azerbaijani': 'Azerbaijan',
    'ARMENIA': 'Armenia',
    'Armenia': 'Armenia',
    'Armenians': 'Armenia',
    'GEORGIA': 'Georgia',
    'Georgia': 'Georgia',
    'Georgian': 'Georgia',
    
    # Países de Oceanía
    'AUSTRALIA': 'Australia',
    'Australia': 'Australia',
    'Australians': 'Australia',
    'NEW ZEALAND': 'New Zealand',
    'New Zealand': 'New Zealand',
    'New Zealander': 'New Zealand',
    'FIJI': 'Fiji',
    'Fiji': 'Fiji',
    'Fijian': 'Fiji',
    'PAPUA NEW GUINEA': 'Papua New Guinea',
    'Papua New Guinea': 'Papua New Guinea',
    'Solomon Islands': 'Solomon Islands',
    'solomon islands': 'Solomon Islands',
    'Solomon islanders': 'Solomon Islands',
    'Solomon Isands': 'Solomon Islands',
    'Samoa': 'Samoa',
    'Vanuatu': 'Vanuatu',
    'Tonga': 'Tonga',
    'Palau': 'Palau',
    'Maldives': 'Maldives',
    
    # Otros países
    'CANADA': 'Canada',
    'Canada': 'Canada',
    'Canadians': 'Canada',
    'BARBADOS': 'Barbados',
    'Barbados': 'Barbados',
    'Trinidad and Tobago': 'Trinidad and Tobago',
    'Saint Vincent and the Grenadines': 'Saint Vincent and the Grenadines',
    'St Vincent': 'Saint Vincent and the Grenadines',
    'Guyana': 'Guyana',
    'Guayanean': 'Guyana',
    'Suriname': 'Suriname',
    'French Guiana': 'French Guiana',
    'Timor-Leste': 'Timor-Leste',
    'Timor Este': 'Timor-Leste',
    'Bhutan': 'Bhutan',
    'Bhutanese': 'Bhutan',
    'Bhuatnese': 'Bhutan',
    'Sri Lanka': 'Sri Lanka',
    'SRI LANKA': 'Sri Lanka',
    'Sri lanka': 'Sri Lanka',
    'Sri Lankan': 'Sri Lanka',
    'Afghanistan': 'Afghanistan',
    'Afganistan': 'Afghanistan',
    'Afghani': 'Afghanistan',
    'Pakistan': 'Pakistan',
    'PAKISTÁN': 'Pakistan',
    'Pakistani': 'Pakistan',
    
    # Valores a eliminar o categorizar
    'Unknown': 'Unknown',
    'Desconocido': 'Unknown',
    'DESCONOCIDA': 'Unknown',
    'NO DETERMINADA': 'Unknown',
    'No Determinado': 'Unknown',
    'NO DETERMINADAS': 'Unknown',
    'NO REGISTRA': 'Unknown',
    'Sin determinar': 'Unknown',
    'without': 'Unknown',
    'Disputed': 'Unknown',
    'Nationality': 'Unknown',
    '0': 'Unknown',
    '145': 'Unknown',
    'TOTAL': 'Unknown',
    'TOTAL POR AÑO': 'Unknown',
    'RMI': 'Unknown',
    
    # Categorías regionales
    'Abroad': 'Abroad',
    'Nationals': 'Nationals',
    'Ciudadanos de su país': 'Nationals',
    'Personnes de nationalité étrangère': 'Foreign Nationals',
    'Africa': 'Africa',
    'Americas': 'Americas',
    'Amercias': 'Americas',
    'Asia': 'Asia',
    'European Economic Area': 'European Economic Area',
    'Africa and Middle East': 'Africa and Middle East',
    'Other Asia': 'Other Asia',
    'Other Central America and Caribbean': 'Other Central America and Caribbean',
    'Other Central America and Car': 'Other Central America and Caribbean',
    'Caribbean (Trinidad and Tobago, Barbados, etc)': 'Caribbean',
    'Other Countries (Dominica, Panama, French Guiana, Brazil, etc.)': 'Other Countries',
    
    # Tipos de explotación
    'Sexual exploitation': 'Sexual exploitation',
    'Forced labour': 'Forced labour',
    'Other forms of exploitation': 'Other forms of exploitation',
    'Personnes de nationalit� �trang�re': 'foreign',
    'Boliviana': 'Bolivia',
    'Colombiana': 'Colombia',
    'Paraguaya': 'Paraguay',
    'Venezolana': 'Venezuela',
    'Timor-Leste': 'Timor-Leste',
    "C�TE D'IVOIRE": "Côte d'Ivoire",
    'Oman': 'Oman',
    'Qatar': 'Qatar',
    'BAHAMAS': 'Bahamas',
    '(especifique el pa�s)': 'Unknown',
    'Ciudadanos de su pa�s': 'Unknown',
    'Argentina': 'Argentina',
    'Brasil': 'Brazil',
    'Venezuela (Bolivarian Republic of)': 'Venezuela',
    'Bolivia (Plurinational State of)': 'Bolivia',
    # Especificaciones
    '(especifique el país)': 'nan',
    '(especifique otras nacionalidades)': '(specify other nationalities)',
    '(especifique el país)': '(specify the country)',
    '(Nationality not stated)': '(Nationality not stated)',
    '(Oman)': 'Oman',
    '(Lebanon)': 'Lebanon',
    '(Senegal)': 'Senegal',
    'Kurdistan, Iraq': 'Kurdistan, Iraq',
    'Dubai': 'UAE',
    'OTROS': 'Others',
    'Total': 'Unknown',
}

In [31]:
df1['Category'] = df['Category'].replace(corrections)

In [32]:
df1['Category'].unique()

array(['Ukraine', 'Abroad', 'Sexual exploitation', 'Forced labour',
       'Unknown', 'Democratic Republic of the Congo', 'Nationals',
       'Angola', 'Nigeria', 'China', 'Albania', 'Croatia', nan,
       'Netherlands', 'Norway', 'Portugal', 'Denmark', 'Serbia',
       'Switzerland', 'Germany', '(specify the country)', 'Azerbaijan',
       'Bangladesh', 'India', 'Indonesia', 'Iraq', 'Kazakhstan',
       'Morocco', 'Pakistan', 'Philippines', 'Moldova', 'Russia', 'Syria',
       'Uzbekistan', 'Kyrgyzstan', 'Algeria', 'Armenia', 'Ethiopia',
       'Lebanon', 'Sri Lanka', 'Thailand', 'UAE', 'Nepal', 'Tajikistan',
       'Tanzania', 'Turkmenistan', 'Colombia', 'Dominican Republic',
       'Tunisia', 'Belarus', 'Uganda', 'Rwanda', 'Argentina', 'Bolivia',
       'Paraguay', 'Peru', 'Brazil', 'Chile', 'Ecuador', 'Uruguay',
       'Venezuela', 'Honduras', 'Others', 'Italy', 'Mexico', 'Ghana',
       'Haiti', 'Senegal', 'South Korea', 'South Africa', 'Panama',
       'United States', 'Rusia', 'Costa Rica', 'Cuba', 'Jamaica',
       'Guatemala', 'Alemania', 'Spain', 'Malaysia', 'Australia',
       'Afghanistan', 'Burundi', 'Cambodia', 'Fiji', 'Guinea', 'Iran',
       'Saudi Arabia', 'South Sudan', 'Sudan', 'Taiwan', 'Turkey',
       'Vietnam', 'Jordan', 'Kuwait', 'Myanmar', 'Singapore',
       'United Kingdom', 'Yemen', 'Austria', 'Bulgaria', 'Hungary',
       'Lithuania', 'Romania', 'Slovakia', 'Czech Republic',
       'North Macedonia', 'Poland', 'North Korea', 'Nicaragua',
       'Bosnia and Herzegovina', 'Kenya', 'Georgia', 'Benin',
       "Cote d'Ivoire", 'Malta', 'Somalia', 'Bolivians', 'Cameroon',
       'Kosovo', 'Mongolia', 'Egypt', 'Japan', 'Madagascar', 'Namibia',
       'Palestine', 'Slovenia', 'Belgium', 'Burkina Faso', 'Chad',
       'Eritrea', 'France', 'Mauritius', 'Sierra Leone', 'Latvia',
       'Bhutan', 'Equatorial Guinea', 'Libya', 'Mali', 'Guinea-Bissau',
       'Liberia', 'Suriname', 'Sweden', 'Togo', 'Niger', 'Guyana',
       'Gambia', 'El Salvador', 'Belize', 'Argentino',
       '(specify other nationalities)', 'Kurdistan, Iraq', 'Botswana',
       'Zambia', 'Zimbabwe', 'Canada', 'Hong Kong', 'Israel',
       'Montenegro', 'Mozambique', 'Greece', 'foreign', 'Timor-Leste',
       "Côte d'Ivoire", 'Oman', 'Qatar', 'Bahamas', 'Estonia', 'Cyprus',
       'Cape Verde', 'Ireland', 'Chilean', 'Argentinian', 'Finland',
       'PERUANA', 'Malawi', 'New Zealand', 'Gabon', 'Laos', 'Comoros',
       'Eswatini', 'Mauritania', 'Western Sahara', 'Barbados',
       'Other Central America and Caribbean',
       'Saint Vincent and the Grenadines', 'Trinidad and Tobago',
       'Africa and Middle East', 'Other Asia', 'Central African Republic',
       'Djibouti', 'Belice', 'Caribbean', 'Other Countries', 'Africa',
       'Americas', 'Asia', 'European Economic Area', 'Former Yugoslavia',
       'Luxembourg', 'Brésil', 'Iceland', 'Seychelles', 'Samoa',
       'Sao Tome and Principe', 'Solomon Islands',
       '(Nationality not stated)', 'Eritreja', 'Rohingya', 'Lesotho',
       'Maldives', 'Other forms of exploitation'], dtype=object)

In [33]:
display(df1)

,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Nr_of_victims
0,Aruba,Americas,Latin America and the Caribbean,Detected trafficking victims,by country of repatriation,Ukraine,Unknown,Unknown,2010,2.5
1,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Unknown,Unknown,2003,2.5
2,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Unknown,Unknown,2008,2.5
5,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by form of exploitation,Sexual exploitation,Unknown,Unknown,2017,2.5
6,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by form of exploitation,Forced labour,Unknown,Unknown,2018,2.5
...,...,...,...,...,...,...,...,...,...,...
58764,Zimbabwe,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Other forms of exploitation,Male,Minor,2020,2.5
58765,Zimbabwe,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Other forms of exploitation,Male,Adult,2020,2.5
58766,Zimbabwe,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Other forms of exploitation,Unknown,Unknown,2020,2.5
58767,Zimbabwe,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Other forms of exploitation,Unknown,Unknown,2021,2.5
58768,Zimbabwe,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Other forms of exploitation,Unknown,Unknown,2022,2.5

In [34]:
display(df1.head())

,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Nr_of_victims
0,Aruba,Americas,Latin America and the Caribbean,Detected trafficking victims,by country of repatriation,Ukraine,Unknown,Unknown,2010,2.5
1,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Unknown,Unknown,2003,2.5
2,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Unknown,Unknown,2008,2.5
5,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by form of exploitation,Sexual exploitation,Unknown,Unknown,2017,2.5
6,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by form of exploitation,Forced labour,Unknown,Unknown,2018,2.5

In [35]:
df1.to_csv('clean.csv', index=False)

In [36]:
display(df1.iloc[1053],df1.iloc[1054],df1.iloc[1055 ])

Country                                Argentina
Region                                  Americas
Subregion        Latin America and the Caribbean
Indicator           Detected trafficking victims
Dimension             by country of repatriation
Category                                  Abroad
Sex                                      Unknown
Age                                      Unknown
Year                                        2020
Nr_of_victims                               10.0
Name: 1509, dtype: object

Country                                Argentina
Region                                  Americas
Subregion        Latin America and the Caribbean
Indicator           Detected trafficking victims
Dimension             by country of repatriation
Category                                 Bolivia
Sex                                      Unknown
Age                                      Unknown
Year                                        2020
Nr_of_victims                                2.5
Name: 1510, dtype: object

Country                                Argentina
Region                                  Americas
Subregion        Latin America and the Caribbean
Indicator           Detected trafficking victims
Dimension             by country of repatriation
Category                                   Chile
Sex                                      Unknown
Age                                      Unknown
Year                                        2020
Nr_of_victims                                2.5
Name: 1511, dtype: object

In [37]:
df1_region = df1[['Region']].reset_index(drop=True)
unique_regions = df1["Region"].unique()
unique_regions_df = pd.DataFrame({"Region_id": [i+1 for i in range(len(unique_regions))], "Region": unique_regions})
unique_regions_df.to_csv("../data/clean/unique_regions.csv", index=False, encoding="utf-8")
unique_regions_df
#df1_region['Region_id'] = df1_region.index + 1

   Region_id    Region
0          1  Americas
1          2      Asia
2          3    Africa
3          4    Europe
4          5   Oceania

In [38]:
unique_subregions = df1["Subregion"].unique()
unique_subregions_df = pd.DataFrame({"Subregion_id": [i+1 for i in range(len(unique_subregions))], "Subregion": unique_subregions})
unique_subregions_df.to_csv("../data/clean/unique_subregions.csv", index=False, encoding="utf-8")
unique_subregions_df

    Subregion_id                        Subregion
0              1  Latin America and the Caribbean
1              2                    Southern Asia
2              3               Sub-Saharan Africa
3              4                  Southern Europe
4              5                     Western Asia
5              6        Australia and New Zealand
6              7                   Western Europe
7              8                   Eastern Europe
8              9               South-eastern Asia
9             10                 Northern America
10            11                     Eastern Asia
11            12                        Polynesia
12            13                  Northern Europe
13            14                  Northern Africa
14            15                        Melanesia
15            16                       Micronesia
16            17                     Central Asia

In [39]:
display(df1_region)

         Region
0      Americas
1          Asia
2          Asia
3          Asia
4          Asia
...         ...
39480    Africa
39481    Africa
39482    Africa
39483    Africa
39484    Africa

[39485 rows x 1 columns]

In [40]:
df1_region.to_csv('region.csv', index=False)

In [42]:
# Crear df1_Subregion con columnas seleccionadas
df1_Subregion = df1[['Subregion', 'Region']].reset_index(drop=True)

# Mostrar ejemplos
display(df1_Subregion.head())


# Combinar con unique_regions_df
df1_Subregion_new2 = df1_Subregion.merge(unique_regions_df, on='Region', how="left")
display(df1_Subregion_new2)

# Renombrar columnas correctamente
df1_Subregion = df1_Subregion.rename(columns={'Subregion': 'Subregion_name'})

# Asignar Subregion_id
df1_Subregion['Subregion_id'] = df1_Subregion.index + 1

                         Subregion    Region
0  Latin America and the Caribbean  Americas
1                    Southern Asia      Asia
2                    Southern Asia      Asia
3                    Southern Asia      Asia
4                    Southern Asia      Asia

                             Subregion    Region  Region_id
0      Latin America and the Caribbean  Americas          1
1                        Southern Asia      Asia          2
2                        Southern Asia      Asia          2
3                        Southern Asia      Asia          2
4                        Southern Asia      Asia          2
...                                ...       ...        ...
39480               Sub-Saharan Africa    Africa          3
39481               Sub-Saharan Africa    Africa          3
39482               Sub-Saharan Africa    Africa          3
39483               Sub-Saharan Africa    Africa          3
39484               Sub-Saharan Africa    Africa          3

[39485 rows x 3 columns]

In [43]:
display(df1_Subregion)

                        Subregion_name    Region  Subregion_id
0      Latin America and the Caribbean  Americas             1
1                        Southern Asia      Asia             2
2                        Southern Asia      Asia             3
3                        Southern Asia      Asia             4
4                        Southern Asia      Asia             5
...                                ...       ...           ...
39480               Sub-Saharan Africa    Africa         39481
39481               Sub-Saharan Africa    Africa         39482
39482               Sub-Saharan Africa    Africa         39483
39483               Sub-Saharan Africa    Africa         39484
39484               Sub-Saharan Africa    Africa         39485

[39485 rows x 3 columns]

In [44]:
df1_Subregion.to_csv('Subregion.csv', index=False)

In [45]:
df_country = df1[['Country', 'Subregion']].drop_duplicates().reset_index(drop=True)
df_country = df_country.merge(unique_subregions_df, on='Subregion', how='left')
df_country.insert(0, 'Country_id', range(1, len(df_country) + 1))
df_country = df_country.rename(columns={'Country': 'Country_name'})
df_country.to_csv("../data/clean/unique_countries.csv", index=False, encoding="utf-8")

df_country.head()

   Country_id Country_name                        Subregion  Subregion_id
0           1        Aruba  Latin America and the Caribbean             1
1           2  Afghanistan                    Southern Asia             2
2           3       Angola               Sub-Saharan Africa             3
3           4      Albania                  Southern Europe             4
4           5      Andorra                  Southern Europe             4

In [46]:
df_victim = df1[['Sex', 'Age']].drop_duplicates().reset_index(drop=True)

# Asign IDs
df_victim.insert(0, 'Victim_id', range(1, len(df_victim) + 1))

# Export
df_victim.to_csv("../data/clean/victims.csv", index=False, encoding="utf-8")

df_victim.head()

   Victim_id      Sex      Age
0          1  Unknown  Unknown
1          2  Unknown    Minor
2          3  Unknown    Adult
3          4   Female    Minor
4          5   Female    Adult

In [47]:
df_offense = df1.merge(df_country[['Country_name', 'Country_id']], left_on='Country', right_on='Country_name', how='left')


df_offense = df_offense.merge(df_victim, on=['Sex', 'Age'], how='left')


df_offense = df_offense[['Year', 'Dimension', 'Category', 'Nr_of_victims', 'Country_id', 'Victim_id']]


df_offense.insert(0, 'Offense_id', range(1, len(df_offense) + 1))


df_offense.to_csv("../data/clean/offenses.csv", index=False, encoding="utf-8")

df_offense.head()

,Offense_id,Year,Dimension,Category,Nr_of_victims,Country_id,Victim_id
0,1,2010,by country of repatriation,Ukraine,2.5,1,1
1,2,2003,by country of repatriation,Abroad,2.5,2,1
2,3,2008,by country of repatriation,Abroad,2.5,2,1
3,4,2017,by form of exploitation,Sexual exploitation,2.5,2,1
4,5,2018,by form of exploitation,Forced labour,2.5,2,1

In [48]:
df2 = df1[df1['Dimension'] == 'by form of exploitation'].copy()
display(df2.head())

,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Nr_of_victims
5,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by form of exploitation,Sexual exploitation,Unknown,Unknown,2017,2.5
6,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by form of exploitation,Forced labour,Unknown,Unknown,2018,2.5
7,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by form of exploitation,Sexual exploitation,Unknown,Unknown,2018,2.5
8,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by form of exploitation,Sexual exploitation,Unknown,Unknown,2019,2.5
9,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by form of exploitation,Forced labour,Unknown,Unknown,2020,2.5